#td_rojo {
    background-color: red;
}

#td_blanco {
    background-color: white;
}

#td_verde {
    background-color: green;
}

#td_gris {
    background-color: gray;
}

#td_cafe {
    background-color: saddlebrown;
}

#td_azul {
    background-color: blue;
}

#td_rosado {
    background-color: pink;
}

#td_violeta {
    background-color: violet;
}

#td_amarillo {
    background-color: yellow;
}

#td_turquesa {
    background-color: turquoise;
}

#td_negro {
    background-color: black;
    color: white;
}

#td_purpura {
    background-color: purple;
}

#td_naranjo {
    background-color: orange;
}